/*	Three-Column Template for UCLA
		Updated: 01/27/2011
   	----------------------------------------------------*/

/*	CONTENTS:
		CSS Reset
		Generic 
		Header
		Navigation
		Content
		Sidebar
		Footer
		Modules
*/

/* CSS Reset
   ----------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, ul, li {
	font-weight: normal;
	margin: 0;
	padding:0;
}

a img {
	border: 0 none;
}

/* Generic
   ----------------------------------------------------*/
body {
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	background: rgb(240, 237, 240);
	display: none;
}

body.tinas-theme {
	background: rgb(56, 60, 84);
}

p {
	font-size: 12px;
	line-height: 1.5em;
}

a {
	color: #005C85;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}


h2, h3, h4 {
	margin-top: 15px;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 110%;
}

#lightbox-backdrop {
	display: none;
	height: 100%;
	width: 70%;
	top: 0;
	left: 0;
	padding: 0 15%;
	padding-top: 50px;
	position: fixed;
	background: rgba(0,0,0,0.9);
	z-index: 200;
}
#lightbox-body {
	margin: 0 auto;
	position: relative;
	opacity: 1.0;
	height: 480px;
	width: 780px;
}
#lightbox-image-wrap {
	width: 640px;
	height: 480px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.lightbox-image {
	width: inherit;
	height: inherit;
	position: absolute;
}
.lightbox-image.prev {
	left: -690px;
	opacity: 0.25;
}
.lightbox-image.next {
	left: 690px;
	opacity: 0.25;
}

.lightbox-nav {
	width: 70px;
	position: absolute;
	height: 80px;
	top: 200px;
	background: url('http://s3.amazonaws.com/os_extranet_images/269040_original.png');
	background-repeat: no-repeat;
	opacity: 0.5;
	background-size: 150px;
	background-position: -10px;
	cursor: pointer;
}
.lightbox-nav.next {
	right: 0;
	background-position: -70px;
}
.lightbox-nav:hover {
	opacity: 0.8;
}

/* Header
   ----------------------------------------------------*/

#header {
	border-top: 2px solid;
	background: rgb(94, 69, 147);
	position: relative;
	padding-bottom: 30px;
	border-bottom: 2px solid;
	border-color: gold;
}   
body.tinas-theme #header {
	border-bottom: 1px solid;
}
.content {
	max-width: 73.125em;
	margin-left: auto;
	margin-right: auto;
	
	*zoom: 1;
}
.content:before, .content:after {
  content: " ";
  display: table;
}
.content:after {
  clear: both;
}

#header .content {
	padding: 10px 15px 0 15px;
}

#header #logo {
	margin: 0 auto;
	height: 200px;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	z-index: 100;
	position: relative;
}

#header .headline {
	display: inline-block;
	font-family: "Palatino Linotype";
	position: relative;
	vertical-align: middle;
	margin-top: -20px;
}

#header h1 {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 36px;
	display: inline-block;
	font-weight: normal;
	text-transform: uppercase;
}
#header span {
	color: gold;
}
#header h2 {
	color: rgb(199,156,110);
	text-shadow: 1px 1px black;
	padding: 2px 0;
	text-transform: uppercase;
	margin-top: 0px;
	font-size: 20px;
	border-bottom: 1px solid;
}
#header h3 {
	font-size: 16px;
	text-indent: 10px;
	margin-top: 10px;
	color: white;
}

/* Navigation
   ----------------------------------------------------*/

#navigation {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: rgb(56, 40, 84);
	border-top: 1px solid gold;
	font-family: helvetica;
}

#navigation ul {
	max-width: 73.125em;
	margin: 0 auto;
}

#navigation ul li {
	background-color: rgb(56, 40, 84);
	display: inline-block;
	list-style-type: none;
	text-align: center;
	position: relative;
	width: 19.5%; /*Will need to change as list elements grow; could also use javascript */
}

#navigation ul li a {
	color: white;
	display: block;
	font-size: 14px;
	padding: 8px 0px;
	text-decoration: none;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
}
#navigation ul li:hover {
	background-color: gold;
}

#navigation ul li a:hover {
	color: rgb(56, 40, 84);
}

#navigation ul li ul {
	display: none;
}

#navigation ul li:hover ul {
	display: block;
	position: absolute;
	width: 100%;
	
}

#navigation ul li:hover ul li{
	display: block;
	width: inherit;
	border: 1px solid;
	border-color: gold;
	border-top: 0px;
}

/* Content
   ----------------------------------------------------*/

#content_wrapper {
	margin: 0 auto;
	padding-top: 20px;
	width: 960px;
}



/* Footer
   ----------------------------------------------------*/

#footer {
	clear: both;
	margin-top: 40px;
	width: 100%;
}
#footer #footer_container {
	margin: 0 auto;
	padding: 15px;
	width: 960px;
}
#footer #text {
	color: #4e4e4e;
	font-size: 10px;
	line-height: 1.5em;
	margin: 0 auto;
}
#footer #text h5 {
	color: #005C85;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
}

#poweredby {
	float: right;
}

#poweredby a {
	background-image: url(http://s3.amazonaws.com/os_extranet_images/63239_original.png);
	background-repeat: no-repeat;
	display: block;
	height: 36px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999em;
	width: 200px;
}

#action-quote {
	/*font-family: "Impact",fantasy;*/
	font-family: "palatino linotype";
	font-size: 40px;
}
#action-quote #learn { color: rgb(56, 40, 84); }
#action-quote #inspire { color: purple; }
#action-quote #lead { color: rgb(94, 69, 147); }
#action-quote #discover { 
	color: gold; 
	font-size: 50px; 
	line-height: 0px;
	text-shadow: 1px 1px #888;
	margin-left: 50px;
}

body.tinas-theme #action-quote #learn { color: rgb(243, 224, 152); }
body.tinas-theme #action-quote #inspire { color: rgb(192, 170, 197); }
body.tinas-theme #action-quote #lead { color: rgb(247, 178, 31); }
body.tinas-theme #action-quote #discover { 
	color: white;
	text-shadow: 1px 1px rgb(201, 170, 8);

}



/* HOME */

.home.leftside {
	float: left;
	width: 80%;
	border-right: 1px solid black;
}
.home.rightside {
	float: right;
	width: 15%;
	padding-top: 35px;
	padding-left: 10px;
}
#welcome h1 {
	padding: 20px 0;
	font-family: 'Belleza', sans-serif;
	text-align: center;
}

body.tinas-theme #welcome h1 {
	color: rgb(255, 214, 0);
}

#welcome #fading-gallery {
	width: 95%;
	height: 500px;
}

#welcome img {
	display: none;
}
#recent-news h1{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
#recent-news h2 {
	font-weight: bold;
}
#recent-news p {
	font-size: 15px;
}

/* FAQ */

#faq-wrap h2 {
	font-weight: bold;
	font-size: 20px;
}

#faq-wrap p {
	padding-left: 15px;
	padding-top: 10px;
	font-size: 14px;
}

#faq-wrap a {
	text-decoration: none;
}

/* ABOUT */

#details {
}

#details p {
	width: 72%;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	padding-left: 5%;
	padding-right: 3%;
}

#details img {
	width: 19%;
	display: inline-block;
	vertical-align: middle;
}

#details h1 {
	padding-left: 3%;
	font-family: 'Belleza', sans-serif;
	padding-bottom: 20px;
}

#slider {
	border: 10px solid transparent;
	border-radius: 5px;
}

#block-container {
	padding-top: 0px;
	position: relative;
	border-radius: 5px;
	right: 0;
}

.block {
	width: 225px;
	position: relative;
	display: inline-block;
}

.block .dummy {
	padding-top: 100%;
	width: 100%;
}

.block .image-wrap {
	height: 95%;
	width: 95%;
	background-size: cover;
	background-position: center;
	position: absolute;
	left: 0;
	padding: 3.5%;
	top: 0;
}

.block .image-wrap .image {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-size: cover;
	/*border: 5px solid rgb(94, 69, 147);*/
}

.block#ideals .image{
	background: url(http://s3.amazonaws.com/os_extranet_images/258046_original.jpg) no-repeat;
	background-position: 15% 0%;
	background-size: cover;
}
.block#faq .image{
	background: url(http://s3.amazonaws.com/os_extranet_images/258045_original.jpg) no-repeat;
	background-position: 45% 0%;
	background-size: cover;
}
.block#national-site .image{
	background: url(http://s3.amazonaws.com/os_extranet_images/258043_original.jpg) no-repeat;
	background-position: 35% 0%;
	background-size: cover;
}
.block#zeta-lambda .image{
	background: url(http://s3.amazonaws.com/os_extranet_images/258044_original.jpg) no-repeat;
	background-position: 12% 0%;
	background-size: cover;
}
/*
#block-container #scholarship .image:hover{
	background: url(http://s3.amazonaws.com/os_extranet_images/258043_original.jpg) no-repeat;
	background-position: 35% 0%;
	background-size: cover;
}
#block-container #leadership .image:hover{
	background: url(http://s3.amazonaws.com/os_extranet_images/258046_original.jpg) no-repeat;
	background-position: 15% 0%;
	background-size: cover;
}
#block-container #fellowship .image:hover{
	background: url(http://s3.amazonaws.com/os_extranet_images/258044_original.jpg) no-repeat;
	background-position: 12% 0%;
	background-size: cover;
}
#block-container #zeta-lambda .image:hover{
	background: url(http://s3.amazonaws.com/os_extranet_images/258045_original.jpg) no-repeat;
	background-position: 45% 0%;
	background-size: cover;
}*/

.block .label {
	position: absolute;
	background: rgb(56, 40, 84);
	bottom: 24px;
	width: 88%;
	font-family: "palatino linotype";
	font-variant: small-caps;
	font-size: 20px;
	color: white;
	padding: 5px 0;
	text-align: right;
	opacity: 0.9;
	border-bottom: 1px solid gold;
	border-left: 1px solid gold;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	left: 5%;
	padding-right: 5%;
	border-top-right-radius: 0px;
}

.block .label  h1{
	font-size: 24px;
} 

/*	RUSH  */

body.ye-olde-psp {
	display: none;
	background: url('http://s3.amazonaws.com/os_extranet_images/268887_original.jpg');
}

body.ye-olde-psp #header,
body.ye-olde-psp #navigation, 
body.ye-olde-psp #navigation ul li:hover ul li{
	border-color: black;
}

body.ye-olde-psp #logo {
	z-index: -1;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 0.5 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(50%);
}

body.ye-olde-psp #header .headline,
body.ye-olde-psp #navigation,
body.ye-olde-psp #action-quote {
	font-family: "Rye";
}

body.ye-olde-psp #header h1,
body.ye-olde-psp #header h2,
body.ye-olde-psp #header h3,
body.ye-olde-psp #navigation ul li a { 
	color: black;
}
body.ye-olde-psp #navigation ul li a:hover{
	text-decoration: underline;
}
body.ye-olde-psp #header {
	background-color: transparent;
}
body.ye-olde-psp #navigation,
body.ye-olde-psp #navigation ul li { 
	background: url('http://s3.amazonaws.com/os_extranet_images/268887_original.jpg');
}
body.ye-olde-psp #navigation ul > li { 
	border-right: 1px solid black;
}
body.ye-olde-psp #navigation ul > li.first {
	border-left: 1px solid black;
}
body.ye-olde-psp #events-wrap {
	font-family: "Smokum";
	letter-spacing: 1px;
}
body.ye-olde-psp #events-wrap {
	padding-bottom: 10px;
}
body.ye-olde-psp #events-wrap h1 {
	font-size: 50px;
}
body.ye-olde-psp #events-wrap p {
	font-family: "Rye";
	font-weight: bold;	
}
.ye-olde-psp #action-quote span{
	display: block;
	text-align: center;
	font-size: 40px;
	border-bottom: 5px solid black;
	padding-bottom: 5px;
}
#events-wrap {
	padding: 30px;
}

.event {
}

.event img {
	width: 200px;
	vertical-align: middle;
}

.event-text {
	padding-left: 25px;
	vertical-align: top;
	margin-top: 10px;
	text-align: center;
}
.event-text h1{
	font-size: 30px;
	font-weight: bold;
}
.event-text p {
	font-size: 20px;
}

/*  GALLERY  */

.gallery {
	height: 300px;
	width: 400px;
	cursor: pointer;
}

.gallery div {
	display: none;
}

.gallery div.preview-image {
	display: block;
	height: inherit;
	background-size: contain;
}


/* Modules
   ----------------------------------------------------*/

.mini_calendar thead {
	background: #5E7BA6;
}
.mini_cal_nav a {
	text-decoration: none;
}

.pod-header {
	background: #EBEBEB;
	color: #666666;
	font-size: 13px;
	moz-border-radius: 4px;
}
.pod-body b {
	font-size: 12px;
	font-weight: normal;
}

.new_pod {
	background: #f4f4f4;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 5px 10px 20px 20px;
}

.new_pod_bottom li {
	list-style-type: none;
}

.new_pod_bottom li a {
	background: #e7e7e7;
	border: 1px solid #6d6d6d;
	margin-bottom: 10px;
	padding: 6px;
	text-decoration: none;
}

.new_pod_bottom li a:hover {
	background: #fff;
	border: 1px solid #6d6d6d;
	color: #000;
	padding: 6px;
}

.pod-body label {
	font-size: 13px;
}

.pod-body input, .pod-body textarea {
	border: 1px solid #ccc;
	width: 300px;
}

.button, .submit {
	background: #e7e7e7;
	border: 1px solid #6d6d6d;
	moz-border-radius: 2px;
	padding: 2px 6px;
}

#calendar_category select {
	font-size: 10px;
	height: 25px;
	padding: 4px;
	width: 150px;
}

.module_news li {
	list-style-type: none;
}

#module_forms .form_list_view a {
	background: #E7E7E7;
	border: #6d6d6d;
	font-size: 12px;
	padding: 3px 8px;
}

#module_forms .form_page_title {
	font-size: 14px;
	margin: 5px;
}
#module_forms .form_element {
	padding: 5px;
}
#module_forms #newui_forms_elements .form_wrapper input {
	margin-top: 8px;
}
#module_forms .newui_page_title h1 {
	font-size: 18px;
	margin: 5px;
}
#module_forms .newui_page_title {
	background: #005f38;
	padding: 3px;
}
#module_news li {
	background: #f4f4f4;
	border-bottom: 1px solid #ccc;
	list-style-type: none;
	margin-bottom: 10px;
}
#module_forms .form_list_view {
	font-size: 12px;
}
#module_files .pod {
	margin-top: 10px;
}
#content #module_files .newui_page_title h1 {
	display: none;
	font-size: 10px;
}

#module_contact .pod-header {
	display: none;
}

/* Modules: Calendar */
form#calendar_category {
    margin-left: 0;
    padding: 0;
    position: relative;
    top: 20px;
    width: 100%;
}

a.button.right {
    position: relative;
    top: -60px;
}

#why-rush-according-to-Tina {
	display: none;
	font-family: "palatino linotype";
	text-transform: uppercase;
	color: white;
}
.tinas-theme #why-rush-according-to-Tina {
	display: block;
}